* {
    box-sizing: border-box;
}

.slider {
    position: relative;
    display: flex;
    justify-content: center;
}

.container {
    width: 400px;
    height: 350px;
    overflow: hidden;
}

.fas {
    position: absolute;
    top: 40%;
    bottom: 0;
}

.fa-arrow-circle-left {
    left: 20px;
}
.fa-arrow-circle-right {
    right: 20px;
}


.circle-o {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: solid gray 2px;    
}  

.circle1 {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
  }  
.circle2 {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: orange;
}
.circle3 {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: yellowgreen;
}
